---
//@ts-nocheck
import PageLayout from "../../Layouts/PageLayout.astro";
import Footer from "../../components/Footer.astro";
import CtaDefault from "../../components/CtaDefault.astro";
export async function getStaticPaths() {
  const options = {
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJqaXJ2aW5icWFkam55amdmYXplIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwMDExMTIsImV4cCI6MjA5NDU3NzExMn0.7zVbvnasSjz7OidFqNKZ2ahvwutN0cPIuVfSlZBV6ks",
    },
  };
  const url = "https://bjirvinbqadjnyjgfaze.supabase.co/rest/v1/kalender";
  const response = await fetch(url, options);
  const data = await response.json();

  return data.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post: post },
    };
  });
}

const { post } = Astro.props;
---

<PageLayout heading={post.name}>
  <article class="grid_1-1 single-view">
    <h2>{post.name}</h2>
    <div class="event-info">
      <p>{post.shortDescription}</p>

      <div>
        <h4>Dato: {post.date}</h4>
        <h4>Tid: {post.timeStart} - {post.timeEnd}</h4>
        <h4>Pris: {post.price}</h4>
        <h4>Sted: {post.place}</h4>
        <div class="cta">
          <CtaDefault href="/" tekst="Tilmeld" />
        </div>
      </div>
    </div>
    <div>
      <img src={post.img} alt={post.name} />
    </div>
    <div class="description">
      <p>{post.description}</p>
    </div>
  </article>
</PageLayout>

<style>
  article {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    row-gap: 1rem;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 0 auto;
  }
  .grid_1-1 {
    background-color: var(--lys-laks);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 4rem;
  }
  .single-view {
    background-color: rgb(246, 246, 147);
    padding: 4rem;
  }
  h2 {
    grid-column: span 2;
    justify-self: center;
  }
  .description {
    grid-column: span 2;
  }
  .event-info p {
    padding-bottom: 2rem;
  }
  .cta {
    display: inline-block;
    margin-top: 2rem;
    justify-self: end;
  }
</style>
