---
import { Image } from "astro:assets";
import PageLayout from "../Layouts/PageLayout.astro";
import bibliotekHero from "../assets/bibliotek/bibliotekHero.png";
import bibliotek1 from "../assets/bibliotek/bibliotek1.svg";
import BigCard from "../components/BigCard.astro";
import SmallCard from "../components/SmallCard.astro";
import bibliotek2 from "../assets/bibliotek/bibliotek2-ny.svg";
import bibliotek3 from "../assets/bibliotek/bibliotek3.svg";
import bibliotek4 from "../assets/bibliotek/bibliotek4-ny.svg";
import bibliotek5 from "../assets/bibliotek/bibliotek5.svg";
//@ts-nocheck
---

<PageLayout heading="Bibliotek" heroImg={bibliotekHero} heroImgTekst="Biblioteket i Brønden" navColor="light" ctaVariant="light" logoVariant="yellow" headerVariant="light" burgerVariant="yellow">
  <BigCard
    img={bibliotek1}
    imgTekst="Biblioteket bøger"
    titel="Nye bøger"
    tekst="Se vores sprit nye udvalg af bøger! Læs om alt fra faglitteratur til fantasy og krimier."
    tekst2="Du finder dem ved indgangen til biblioteket i Brønden, eller du kan reservere din favorit allerede nu på Brøndby Bibliotekerne."
    ctaTekst="Nye udgivelser"
    href="/"
    variant="button"
  />

  <BigCard
    order="-1"
    img={bibliotek2}
    imgTekst="Biblioteket bog"
    titel="Åbningstider"
    tekst="Åbningstider og bemandingstider for biblioteket kan variere, men vi har som udgangspunkt følgende tider:"
    tekst2="Åbent
Man-Torsdag: 8-20
Fredag: 10-18
Lørdag: 10-17
Søndag: Lukket"
    tekst3="Bemanding
Man-Torsdag: 12-17
Fredag: 12-16
Lørdag: 10-14
Søndag: Lukket"
    ctaTekst="Se tider"
    href="/"
    variant="button"
  />
  <SmallCard tekst="Se vores udvalg af bøger, og reservér dem allerede nu på Brøndby Bibliotekerne." ctaTekst="Find bøger" ctaVariant="light" variant="yellow" />
  <article>
    <h2>Trender på Booktok</h2>
    <Image src={bibliotek3} alt="Biblioteket booktok" />
  </article>
  <BigCard
    img={bibliotek4}
    imgTekst="brætspil"
    titel="Brætspilscafé"
    tekst="Hver mandag holder vi brætspilscafé i Brønden, hvor den står på spil, snak og hygge for alle pengene. Uanset om du er nybegynder eller brætspilsentusiast er du velkommen, for vi spiller på kryds og tværs og hjælper hinanden. Så tag dine søskende, din nabo eller din bedste ven under armen. Eller kom ned solo og find en ny bedste brætspilsmakker. Vi ses!"
    ctaTekst="Læs om eventet"
    href="/"
    variant="button"
  />
  <BigCard
    order="-1"
    img={bibliotek5}
    imgTekst="studiefaciliteter"
    titel="Studiefaciliteter "
    tekst="Skal du printe din opgave, mødes med studiekammerater eller bare sidde i ro med din pc? Vi har wifi på biblioteket og mulighed for at printe og kopiere."
    tekst2="I Kulturhuset Brønden er det muligt at sidde i biblioteksrummet og studere."
  />
  <SmallCard tekst="Se mere om print, scan og kopi på Brøndby Bibliotekerne." ctaTekst="Læs mere" href="/" ctaVariant="light" variant="darkblue" />
</PageLayout>
