---
//@ts-nocheck
import PageLayout from "../Layouts/PageLayout.astro";
import ravHero from "../assets/rav/ravHero.png";
import videorav from "/videorav.mp4";
import BigCard from "../components/BigCard.astro";
import SmallCard from "../components/SmallCard.astro";
import { Image } from "astro:assets";
import greenRetangle from "../assets/rav/greenRetangle.svg";
import galleri1 from "../assets/rav/galleri/galleri1.png";
import galleri2 from "../assets/rav/galleri/galleri2.png";
import galleri3 from "../assets/rav/galleri/galleri3.png";
import galleri4 from "../assets/rav/galleri/galleri4.png";
import galleri5 from "../assets/rav/galleri/galleri5.png";
import galleri6 from "../assets/rav/galleri/galleri6.png";
import galleri7 from "../assets/rav/galleri/galleri7.png";
import galleri8 from "../assets/rav/galleri/galleri8.png";
import galleri9 from "../assets/rav/galleri/galleri9.png";
import galleri10 from "../assets/rav/galleri/galleri10.png";
import galleri11 from "../assets/rav/galleri/galleri11.png";
import galleri12 from "../assets/rav/galleri/galleri12.png";

const images = [galleri1, galleri2, galleri3, galleri4, galleri5, galleri6, galleri7, galleri8, galleri9, galleri10, galleri11, galleri12].map((img) => img.src);

const response = await fetch("https://bjirvinbqadjnyjgfaze.supabase.co/rest/v1/kalender?select=*&id=eq.41", {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJqaXJ2aW5icWFkam55amdmYXplIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwMDExMTIsImV4cCI6MjA5NDU3NzExMn0.7zVbvnasSjz7OidFqNKZ2ahvwutN0cPIuVfSlZBV6ks",
  },
});

const data = await response.json();

const koncert = data[0];
---

<PageLayout heading="RAV" heroVideo={videorav} heroImg={ravHero} heroImgTekst="RAV" navColor="light" ctaVariant="light" logoVariant="green" headerVariant="light" burgerVariant="green" footerLogo="green">
  <!-- kommende koncert -->
  <div class="page-content">
    <section>
      <div class="big-card-1 grid_1-1">
        <h2>Kommende koncert</h2>
        <img src={koncert.img} alt={koncert.name} />

        <div>
          <p>{koncert.description}</p>
        </div>
      </div>
      <Image class="green-rectangle" src={greenRetangle} alt="green rectangle" />
    </section>

    <!-- frivilig -->
    <section class="grå-sektion">
      <BigCard
        img={import("../assets/rav/rav1.svg")}
        imgTekst="RAV koncert"
        titel="Bliv en del af teamet"
        tekst="Bliv frivillig hos os i Brøndby Strand, og vær med til at vælge, hvilke artister vi skal lave koncerter med. Lær at afvikle vores koncerter, samt få viden om musik- og kulturlivet, kurser og nye skills. Måske vil du lave en serie af rapkoncerter med vennerne. Eller synes du, at det er hyggeligt at lave sociale aktiviteter, og tage del i det lokale kulturliv?"
        tekst2="Det kræver ingen erfaring, men du skal være mellem 15-30 år. Som frivillig hos os kan man komme gratis ind til alle vores koncerter. Du kan sende os en DM på Instagram eller skriv til os på ravinfo@brondby.dk."
        order="-1"
      />

      <div class="overlay-card">
        <SmallCard
          tekst="Har du idéer til artister der skal komme forbi og lave en koncert i byen, eller er du interesseret i selv at lære, hvordan man arrangerer koncerter og kan lave sine egne projekter? Skriv til RAV, bliv frivillig og kom med på HOLDET."
          ctaTekst="Skriv til os"
          ctaVariant="light"
          variant="grey"
        />
      </div>
    </section>
    <!-- om rav -->
    <section class="big-card-2">
      <BigCard
        img={import("../assets/rav/rav2.svg")}
        imgTekst="RAV koncert"
        titel="Om Rav"
        tekst="Rav er et koncertsted, som ligge i Brøndby Stand. Vi er til for musikken, byen og kulturen. Koncertstilen er samtidig musik med fokus på byens kulturelle identitet, nye artister og strømninger, fællesskab. diversitet og interessante nicher. Hos os kan du opdage et hvirvlende program, som tager dig til at fra den danske rapscene, ghettotech fest i Detroit, portugisisk folkemusik, norsk techno rave, stjernebestøvet fællessang, ømme øjeblikke på Vestegnen og feministisk kamp i Tyrkiet."
      />
      <BigCard
        img={import("../assets/rav/rav3.svg")}
        imgTekst="RAV koncert"
        tekst="I vores koncertsal i Brønden kan der være op til 500 publikummer. Der er en billig bar, som er drevet af en lokal forening, hvor man blandt ander kan få sodavand, kaffe, drinks, øl og vand. Vi har et venligt, professionelt personale, der er altid klar til at hjælpe dig. RAV er støttet af Statens Kunstfond og Brøndby Kommune.

Hos os kan man komme, som man er, så længe du passer på og respekterer dine medpublikkummer."
        order="-1"
      />
    </section>

    <!-- billedgalleri -->
    <section class="galleri-bg">
      <h2>Hvilken stemning er der på Rav?</h2>
      <p>
        Til vores koncerter er der mørkt. God lyd. Man kan mærke beatet i kroppen. Der er stemningsfuldt lysdesign og røg fra røgmaskinen. Kolde drinks, energidrikke og dåseøl, leveret af et sødt personale. Der er det essentielle som skal til for at
        have en lækker koncertoplevelse - Ikke så meget vrøvl
      </p>
      <p>Hos os kan man mærke musikken, komme helt tæt på artisterne, og man kan dyrke hiphoppen, popmelodierne, opdage nye talenter og være en del af et musikelskende fællesskab.</p>

      <div class="galleri">
        {images.map((src, i) => <img class={`img-${i + 1}`} src={src} alt={`RAV galleri ${i + 1}`} loading="lazy" />)}
      </div>
    </section>
  </div>
</PageLayout>

<style>
  .page-content > :not(.grå-sektion, .galleri-bg) {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 1200px;
    margin: 0 auto;
    row-gap: 1rem;
  }
  /* bigcard 1 og 2  */
  .big-card-1 {
    position: relative;
    z-index: 1;
  }

  .green-rectangle {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .big-card-1 h2 {
    color: var(--text-color-dark);
    padding: 2rem 2rem 1rem 2rem;
  }
  .big-card-1 p {
    padding: 2rem 5rem 0rem 5rem;
    max-width: 35ch;
  }
  .big-card-1 img {
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 1rem;
  }
  .big-card-2 :global(p) {
    margin: 0 2rem;
  }
  .big-card-2 > :first-child :global(.content) {
    order: -1;
  }
  @media (min-width: 800px) {
    .grid_1-1 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
      margin: 4rem;
    }
    .big-card-2 :global(p) {
      margin: 0rem;
    }
    .big-card-1 h2 {
      grid-column: span 2;
      padding: 0;
    }
    .big-card-1 p {
      margin-top: 4rem;
    }
    .green-rectangle {
      top: 750px;
      width: 50%;
    }
    .big-card-1 img {
      width: 100%;
    }
    @media (min-width: 800px) {
      .big-card-2 > :first-child :global(.content) {
        order: 1;
      }
    }
  }

  /* grå sektion */

  .grå-sektion {
    background-color: var(--card-color-grey);
    position: relative;
    padding: 1rem;
  }

  .grå-sektion :global(p, h2) {
    color: var(--text-color-light);
  }
  .grå-sektion :global(img) {
    width: auto;
    height: 400px;
    display: block;
  }
  .grå-sektion :global(p) {
    margin-bottom: 1rem;
    max-width: 45ch;
  }
  .overlay-card {
    position: absolute;
    top: 200px;
    right: 90px;
    z-index: 10;
    max-width: 25ch;
  }

  @media (min-width: 800px) {
    .grå-sektion {
      margin-top: 2rem;
      margin-bottom: 4rem;
      padding: 4rem;
    }

    .overlay-card {
      top: 282px;
      right: 80px;
    }
    .grå-sektion :global(img) {
      width: 100%;
      height: auto;
    }
    .overlay-card {
      position: absolute;
      top: 250px;
      right: 90px;
      z-index: 10;
      max-width: 50ch;
    }
  }
  /* galleri */

  .galleri-bg {
    background-color: var(--card-color-grey);
    padding: 2rem, 4rem, 4rem, 4rem;
  }

  .galleri img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .galleri-bg h2 {
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 2rem;
    color: var(--text-color-light);
    size: var(--h2-size);
  }
  .galleri {
    display: grid;
    gap: 20px;
  }

  .galleri-bg p {
    padding: 0 2rem;
    padding-bottom: 1rem;
    max-width: 45ch;
    color: var(--text-color-light);
    size: var(--p-small-size);
    font-family: var(--font-family-montserrat);
  }
  @media (min-width: 800px) {
    .galleri-bg p {
      padding: 0 8rem;
      max-width: 75ch;
    }
    .galleri {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: 120px;
      gap: 12px;
      padding: 3rem 8rem;
    }
    .img-1 {
      grid-column: 1 / span 3;
      grid-row: 1 / span 3;
    }
    .img-2 {
      grid-column: 4 / span 4;
      grid-row: 1 / span 4;
    }
    .img-3 {
      grid-column: 8 / span 3;
      grid-row: 1 / span 2;
    }
    .img-4 {
      grid-column: 11 / span 2;
      grid-row: 1 / span 3;
    }

    .img-5 {
      grid-column: 1 / span 3;
      grid-row: 4 / span 2;
    }
    .img-6 {
      grid-column: 4 / span 4;
      grid-row: 5 / span 3;
    }
    .img-7 {
      grid-column: 8 / span 3;
      grid-row: 3 / span 3;
    }
    .img-8 {
      grid-column: 11 / span 2;
      grid-row: 4 / span 2;
    }

    .img-9 {
      grid-column: 1 / span 3;
      grid-row: 6 / span 4;
    }
    .img-10 {
      grid-column: 4 / span 4;
      grid-row: 8 / span 2;
    }
    .img-11 {
      grid-column: 8 / span 3;
      grid-row: 6 / span 4;
    }
    .img-12 {
      grid-column: 11 / span 2;
      grid-row: 6 / span 4;
    }
  }
</style>
