---
//@ts-nocheck

const { event } = Astro.props;
const { slug } = Astro.params;
import "../styles/custom.css";
import CtaDefault from "../components/CtaDefault.astro";
---

<article class={`card ${event.type2}`}>
  <div><button class={`type ${event.type}`}>{event.type}</button><button class={`price ${event.price}`}>{event.price}</button></div>
  <h4>{event.name}</h4>
  <p class="p-small">{event.shortDescription}</p>
  <p class="event-info">
    <span>{event.date}</span>
    <span>
      {event.timeStart} - {event.timeEnd}
    </span>
  </p>
  <img src={event.img} alt={event.name} />
  <div class="cta">
    <CtaDefault href={`/kalender/${event.slug}`} tekst="Læs mere" />
  </div>
</article>

<style>
  img {
    display: block;
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 0 auto;
  }
  .event-wrapper {
    display: contents;
  }
  .card {
    padding: 2rem;
    margin: 1rem;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 6;
    gap: 0;
  }

  .card.rav {
    background-color: var(--card-color-grey);
  }

  .card.bibliotek {
    background-color: var(--card-color-yellow);
  }

  .card.bønnen {
    background-color: var(--card-color-pink);
  }
  p {
    padding: 0.5rem 0;
    font-size: 18px;
  }
  .event-info {
    display: flex;
    justify-content: space-between;
  }
  .cta {
    margin-top: 1rem;
    justify-self: center;
  }
  button {
    background-color: var(--cta-color-light);
    color: var(--text-color-dark);
    border: solid 1px var(--cta-color-dark);
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
</style>
