---
const { tekst, href, class: className, variant = "darkblue", target = "_self" } = Astro.props;
---

<a href={href} class={`btn btn--${variant} ${className}`} target={target}>
  {tekst}
</a>

<style>
  .btn {
    border: 1px solid;
    border-radius: var(--border-radius);
    padding: 0.3rem 0.5rem;
    transition: 0.4s allow-discrete;
    font-size: 18px;
    font-weight: var(--font-weight-normal);

    &::after {
      content: "\27F6";
      font-size: var(--h3-size);
    }
  }

  .btn--darkblue {
    border-color: var(--cta-color-dark);

    &:hover {
      background-color: var(--cta-color-dark);
      color: var(--text-color-light);
    }
  }

  .btn--light {
    border-color: var(--cta-color-light);
    color: var(--text-color-light);

    &:hover {
      background-color: var(--cta-color-light);
      color: var(--text-color-dark);
    }
  }
</style>
