---
import "../styles/custom.css";
import Logo from "../components/Logo.astro";
import Navigation from "../components/Navigation.astro";
import { Image } from "astro:assets";
const { class: className, variant, img, imgTekst, video, navColor, ctaVariant, logoVariant, burgerVariant } = Astro.props;
---

<header class={`header header--${variant} ${className}`}>
  <section class="hero">
    {video ? <video class="hero-video" src={video} autoplay muted loop playsinline /> : img ? <Image src={img} alt={imgTekst} /> : null}
  </section>
  <section class="nav">
    <div class="logo-header">
      <div>
        <a href="/">
          <Logo variant={logoVariant} />
        </a>
      </div>
      <a href="/">
        <p>
          KULTURHUSET
          <span>BRØNDEN</span>
        </p>
      </a>
    </div>
    <Navigation variant={navColor} ctaVariant={ctaVariant} burgerVariant={burgerVariant} />
  </section>
</header>

<style>
  p {
    font-family: var(--font-family-beatrice);
    font-size: 24px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    align-self: start;
    grid-area: 1/1;
  }

  .logo-header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .logo-header div {
    min-width: 50px;
  }

  .logo-header span {
    display: block;
  }

  header {
    display: grid;
  }
  .hero {
    grid-area: 1/1;
  }

  .hero :global(img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header--light p {
    color: var(--text-color-light);
  }

  .hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (width<800px) {
    .hero-video {
    }

    p {
      font-size: 18px;
    }
  }
</style>
