---
//@ts-nocheck
const { personData } = Astro.props;
const { slug } = Astro.params;
import "../styles/custom.css";
import CtaDefault from "../components/CtaDefault.astro";
---

<article class="card-container">
  <div class="card">
    <img class="card-image" src={personData.img} alt={personData.name} />
    <h4>{personData.name}</h4>
    <p>{personData.shortDescription}</p>
    <div>
      <CtaDefault href={`/kalender/${personData.slug}`} variant="light" tekst="Læs mere" />
    </div>
  </div>
</article>

<style>
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }
  .card {
    width: 383px;
    height: auto;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--card-color-blue);
    text-align: center;
    padding: 0 0 3rem 0;
  }

  .card-image {
    width: 100%;
    display: block;
    object-fit: cover;
  }

  h4 {
    padding: 0.5rem 2rem;
    font-family: var(--font-family-beatrice);
    font-size: var(--h4-size);
    color: var(--text-color-light);
  }

  p {
    padding: 0.5rem 2rem 1rem;
    font-family: var(--font-family-montserrat);
    font-size: var(--p-small-size);
    font-weight: var(--font-weight-light);
    color: var(--text-color-light);
  }

  @media (width>=800px) {
    .card-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
