---
import CtaDefault from "./CtaDefault.astro";
const { tekst, ctaTekst, href, ctaVariant, variant = "brown", target } = Astro.props;
---

<section class={`small-card small-card--${variant} `}>
  <p>{tekst}</p>
  <slot />
  <div class="cta">
    <CtaDefault href={href} tekst={ctaTekst} variant={ctaVariant} target={target} />
  </div>
</section>

<style>
  .small-card {
    max-width: 20vw;
    padding: 1rem;
    position: relative;
  }

  p {
    margin-bottom: 1ch;
    font-size: var(--p-small-size);
  }

  /* brun */
  .small-card--brown {
    background-color: var(--card-color-brown);
  }

  .small-card--brown p {
    color: var(--text-color-light);
  }

  /* pink */
  .small-card--pink {
    background-color: var(--card-color-pink);
  }

  .small-card--pink-nobutton {
    background-color: var(--card-color-pink);
  }

  .small-card--pink-nobutton .cta {
    display: none;
  }

  /* grå */
  .small-card--grey {
    color: var(--card-color-grey);
  }

  .small-card--grey p {
    color: var(--text-color-light);
  }

  /* gul */
  .small-card--yellow {
    background-color: var(--card-color-yellow);
  }

  .small-card--yellow-nobutton {
    background-color: var(--card-color-yellow);
  }

  .small-card--yellow-nobutton .cta {
    display: none;
  }

  /* blå */
  .small-card--darkblue {
    background-color: var(--card-color-blue);
  }

  .small-card--darkblue p {
    color: var(--text-color-light);
  }
</style>
